 .mobile-menu {
     display: flex;
     flex-direction: column;
     justify-self: end;
     grid-area: mobile-menu;

     &__item {
         font-size: 2.3rem;
         color: #fff;
         text-decoration: none;
         transition: all .2s linear;
         margin-top: 5px;
         
         cursor: pointer;
     }


     .links {
         display: flex;
         flex-direction: column;

         .inst {
             grid-area: inst;
         }

         .mail {
             grid-area: mail;
         }

         .number {
             color: #000;
             font-size: 1.55rem;
             grid-area: number;
             display: flex;
             justify-content: center;
             align-items: center;
             height: 100%;
         }
     }

 }



 @media screen and (max-width: 650px) {

     .mobile-menu {
         position: absolute;
         top: 50px;
         right: 5px;

         align-self: self-start;


         .links {

             .inst,
             .mail {
                 max-width: 15px;
                 max-height: 15px;
             }

             .number {
                 height: 32px;
                 font-size: 1.6rem;
             }
         }

     }

 }
