block mobile-menu

div.mobile-menu
        a(href="#").nav__item.companies
            span Компаниям
        a(href="#").nav__item.applicants
            span Соискателям
        a(href="#").nav__item.vacancies
            span Вакансии
        div.links
            a(href="#").nav__item.img-wrapper.inst.nav__item-rounded.nav__item_white
                img(src="assets/img/nav/inst.svg").img-wrapper__img
            a(href="#").nav__item.img-wrapper.mail.nav__item-rounded.nav__item_white
                img(src="assets/img/nav/at.svg").img-wrapper__img
            span.nav__item.number.nav__item-rounded.nav__item_white +7 (905) 464 37 23