$columns: 12;
$atom: (100% / $columns);

$break_lg: 1100px;
$break_iPadPro: 1024px;
$break_md: 960px;
$break_sm: 780px;
$break_iPad: 768px;
$break_xs: 560px;
$break_surfaceDUO: 540px;
$breakHeight_surfaceDUO: 720px;
$break_iPhone678Plus: 414px;
$break_pixel2: 411px;
$break_pixel2XL: 411px;
$break_iPhone678: 375px;
$break_iPhoneX: 375px;
$break_galaxyS5: 360px;
$break_iPhone5SE: 320px;
$break_galaxyFold: 280px;
$breakHeight_galaxyFold: 653px;

$offset: 30px;
$offset_lg: $offset;
$offset_iPadPro: $offset;
$offset_md: $offset;
$offset_sm: $offset;
$offset_iPad: $offset;
$offset_xs: $offset;
$offset_surfaceDUO: $offset;
$offset_iPhone678Plus: $offset;
$offset_pixel2: $offset;
$offset_pixel2XL: $offset;
$offset_iPhone678: $offset;
$offset_iPhoneX: $offset;
$offset_galaxyS5: $offset;
$offset_iPhone5SE: $offset;
$offset_galaxyFold: $offset;

$offset_one_side: ($offset / 2);
$offset_lg_one_side: ($offset_lg / 2);
$offset_iPadPro_one_side: ($offset_iPadPro / 2);
$offset_md_one_side: ($offset_md / 2);
$offset_sm_one_side: ($offset_sm / 2);
$offset_iPad_one_side: ($offset_iPad / 2);
$offset_xs_one_side: ($offset_xs / 2);
$offset_surfaceDUO_one_side: ($offset_surfaceDUO / 2);
$offset_iPhone678Plus_one_side: ($offset_iPhone678Plus / 2);
$offset_pixel2_one_side: ($offset_pixel2 / 2);
$offset_pixel2XL_one_side: ($offset_pixel2XL / 2);
$offset_iPhone678_one_side: ($offset_iPhone678 / 2);
$offset_iPhoneX_one_side: ($offset_iPhoneX / 2);
$offset_galaxyS5_one_side: ($offset_galaxyS5 / 2);
$offset_iPhone5SE_one_side: ($offset_iPhone5SE / 2);
$offset_galaxyFold_one_side: ($offset_galaxyFold / 2);

$fields: 30px;
$fields_sm: 15px;

@mixin wrapper-full(){
    padding-left: $fields;
    padding-right: $fields;

    @include sm-block(){
        padding-left: $fields_sm;
        padding-right: $fields_sm;
    }
}

@mixin row-offsets(){
    margin-left: ($offset_one_side * -1);
    margin-right: ($offset_one_side * -1);
}

@mixin col-offsets($type){
    #{$type}-left: $offset_one_side;
    #{$type}-right: $offset_one_side;
}

@mixin wrapper(){
    max-width: 1200px;
    margin: 0 auto;
    @include wrapper-full();
}

@mixin row-flex(){
    display: flex;
    flex-wrap: wrap;
    @include row-offsets();
}

@mixin row-float(){
    @include row-offsets();
    @include clearfix();
}

@mixin row-ib(){
    @include row-offsets();
}

@mixin col(){
    box-sizing: border-box;
    word-wrap: break-word;
    @include col-offsets(margin);
}

@mixin col-float(){
    float: left;
}

@mixin col-ib(){
    display: inline-block;
    vertical-align: top;
}

@mixin col-padding(){
    word-wrap: break-word;
    @include col-offsets(padding);
}

@mixin size($n){
    $val: 100% / $columns * $n;
    width: #{calc(#{$val} - #{$offset})};
}

@mixin size-lg($n){
    $val: 100% / $columns * $n;
    @include lg(width, #{calc(#{$val} - #{$offset_lg})});
}

@mixin size-iPadPro($n){
    $val: 100% / $columns * $n;
    @include iPadPro(width, #{calc(#{$val} - #{$offset_iPadPro})});
}

@mixin size-md($n){
    $val: 100% / $columns * $n;
    @include md(width, #{calc(#{$val} - #{$offset_md})});
}

@mixin size-sm($n){
    $val: 100% / $columns * $n;
    @include sm(width, #{calc(#{$val} - #{$offset_sm})});
}

@mixin size-iPad($n){
    $val: 100% / $columns * $n;
    @include iPad(width, #{calc(#{$val} - #{$offset_iPad})});
}

@mixin size-xs($n){
    $val: 100% / $columns * $n;
    @include xs(width, #{calc(#{$val} - #{$offset_xs})});
}

@mixin size-surfaceDUO($n){
    $val: 100% / $columns * $n;
    @include surfaceDUO(width, #{calc(#{$val} - #{$offset_surfaceDUO})});
}

@mixin size-iPhone678Plus($n){
    $val: 100% / $columns * $n;
    @include iPhone678Plus(width, #{calc(#{$val} - #{$offset_iPhone678Plus})});
}

@mixin size-pixel2($n){
    $val: 100% / $columns * $n;
    @include pixel2(width, #{calc(#{$val} - #{$offset_pixel2})});
}

@mixin size-pixel2XL($n){
    $val: 100% / $columns * $n;
    @include pixel2XL(width, #{calc(#{$val} - #{$offset_pixel2XL})});
}

@mixin size-iPhone678($n){
    $val: 100% / $columns * $n;
    @include iPhone678(width, #{calc(#{$val} - #{$offset_iPhone678})});
}

@mixin size-iPhoneX($n){
    $val: 100% / $columns * $n;
    @include iPhoneX(width, #{calc(#{$val} - #{$offset_iPhoneX})});
}

@mixin size-galaxyS5($n){
    $val: 100% / $columns * $n;
    @include galaxyS5(width, #{calc(#{$val} - #{$offset_galaxyS5})});
}

@mixin size-iPhone5SE($n){
    $val: 100% / $columns * $n;
    @include iPhone5SE(width, #{calc(#{$val} - #{$offset_iPhone5SE})});
}

@mixin size-galaxyFold($n){
    $val: 100% / $columns * $n;
    @include galaxyFold(width, #{calc(#{$val} - #{$offset_galaxyFold})});
}

@mixin shift($n){
    $val: 100% / $columns * $n;
    margin-left: #{calc(#{$val} + #{$offset_one_side})};
    margin-right: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-left($n){
    $val: 100% / $columns * $n;
    margin-left: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-right($n){
    $val: 100% / $columns * $n;
    margin-right: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-padding($n){
    $val: 100% / $columns * $n;
    padding-left: #{calc(#{$val} + #{$offset_one_side})};
    padding-right: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-padding-left($n){
    $val: 100% / $columns * $n;
    padding-left: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-padding-right($n){
    $val: 100% / $columns * $n;
    padding-right: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-lg($n){
    $val: 100% / $columns * $n;
    @include lg(margin-left, #{calc(#{$val} + #{$offset_lg_one_side})});
    @include lg(margin-right, #{calc(#{$val} + #{$offset_lg_one_side})});
}

@mixin shift-lg-left($n){
    $val: 100% / $columns * $n;
    @include lg(margin-left, #{calc(#{$val} + #{$offset_lg_one_side})});
}

@mixin shift-lg-right($n){
    $val: 100% / $columns * $n;
    @include lg(margin-right, #{calc(#{$val} + #{$offset_lg_one_side})});
}

@mixin shift-lg-padding($n){
    $val: 100% / $columns * $n;
    @include lg(padding-left, #{calc(#{$val} + #{$offset_lg_one_side})});
    @include lg(padding-right, #{calc(#{$val} + #{$offset_lg_one_side})});
}

@mixin shift-lg-padding-left($n){
    $val: 100% / $columns * $n;
    @include lg(padding-left, #{calc(#{$val} + #{$offset_lg_one_side})});
}

@mixin shift-lg-padding-right($n){
    $val: 100% / $columns * $n;
    @include lg(padding-right, #{calc(#{$val} + #{$offset_lg_one_side})});
}

@mixin shift-iPadPro($n){
    $val: 100% / $columns * $n;
    @include iPadPro(margin-left, #{calc(#{$val} + #{$offset_iPadPro_one_side})});
    @include iPadPro(margin-right, #{calc(#{$val} + #{$offset_iPadPro_one_side})});
}

@mixin shift-iPadPro-left($n){
    $val: 100% / $columns * $n;
    @include iPadPro(margin-left, #{calc(#{$val} + #{$offset_iPadPro_one_side})});
}

@mixin shift-iPadPro-right($n){
    $val: 100% / $columns * $n;
    @include iPadPro(margin-right, #{calc(#{$val} + #{$offset_iPadPro_one_side})});
}

@mixin shift-iPadPro-padding($n){
    $val: 100% / $columns * $n;
    @include iPadPro(padding-left, #{calc(#{$val} + #{$offset_iPadPro_one_side})});
    @include iPadPro(padding-right, #{calc(#{$val} + #{$offset_iPadPro_one_side})});
}

@mixin shift-iPadPro-padding-left($n){
    $val: 100% / $columns * $n;
    @include iPadPro(padding-left, #{calc(#{$val} + #{$offset_iPadPro_one_side})});
}

@mixin shift-iPadPro-padding-right($n){
    $val: 100% / $columns * $n;
    @include iPadPro(padding-right, #{calc(#{$val} + #{$offset_iPadPro_one_side})});
}

@mixin shift-md($n){
    $val: 100% / $columns * $n;
    @include md(margin-left, #{calc(#{$val} + #{$offset_md_one_side})});
    @include md(margin-right, #{calc(#{$val} + #{$offset_md_one_side})});
}

@mixin shift-md-left($n){
    $val: 100% / $columns * $n;
    @include md(margin-left, #{calc(#{$val} + #{$offset_md_one_side})});
}

@mixin shift-md-right($n){
    $val: 100% / $columns * $n;
    @include md(margin-right, #{calc(#{$val} + #{$offset_md_one_side})});
}

@mixin shift-md-padding($n){
    $val: 100% / $columns * $n;
    @include md(padding-left, #{calc(#{$val} + #{$offset_md_one_side})});
    @include md(padding-right, #{calc(#{$val} + #{$offset_md_one_side})});
}

@mixin shift-md-padding-left($n){
    $val: 100% / $columns * $n;
    @include md(padding-left, #{calc(#{$val} + #{$offset_md_one_side})});
}

@mixin shift-md-padding-right($n){
    $val: 100% / $columns * $n;
    @include md(padding-right, #{calc(#{$val} + #{$offset_md_one_side})});
}

@mixin shift-sm($n){
    $val: 100% / $columns * $n;
    @include sm(margin-left, #{calc(#{$val} + #{$offset_sm_one_side})});
    @include sm(margin-right, #{calc(#{$val} + #{$offset_sm_one_side})});
}

@mixin shift-sm-left($n){
    $val: 100% / $columns * $n;
    @include sm(margin-left, #{calc(#{$val} + #{$offset_sm_one_side})});
}

@mixin shift-sm-right($n){
    $val: 100% / $columns * $n;
    @include sm(margin-right, #{calc(#{$val} + #{$offset_sm_one_side})});
}

@mixin shift-sm-padding($n){
    $val: 100% / $columns * $n;
    @include sm(padding-left, #{calc(#{$val} + #{$offset_sm_one_side})});
    @include sm(padding-right, #{calc(#{$val} + #{$offset_sm_one_side})});
}

@mixin shift-sm-padding-left($n){
    $val: 100% / $columns * $n;
    @include sm(padding-left, #{calc(#{$val} + #{$offset_sm_one_side})});
}

@mixin shift-sm-padding-right($n){
    $val: 100% / $columns * $n;
    @include sm(padding-right, #{calc(#{$val} + #{$offset_sm_one_side})});
}

@mixin shift-iPad($n){
    $val: 100% / $columns * $n;
    @include iPad(margin-left, #{calc(#{$val} + #{$offset_iPad_one_side})});
    @include iPad(margin-right, #{calc(#{$val} + #{$offset_iPad_one_side})});
}

@mixin shift-iPad-left($n){
    $val: 100% / $columns * $n;
    @include iPad(margin-left, #{calc(#{$val} + #{$offset_iPad_one_side})});
}

@mixin shift-iPad-right($n){
    $val: 100% / $columns * $n;
    @include iPad(margin-right, #{calc(#{$val} + #{$offset_iPad_one_side})});
}

@mixin shift-iPad-padding($n){
    $val: 100% / $columns * $n;
    @include iPad(padding-left, #{calc(#{$val} + #{$offset_iPad_one_side})});
    @include iPad(padding-right, #{calc(#{$val} + #{$offset_iPad_one_side})});
}

@mixin shift-iPad-padding-left($n){
    $val: 100% / $columns * $n;
    @include iPad(padding-left, #{calc(#{$val} + #{$offset_iPad_one_side})});
}

@mixin shift-iPad-padding-right($n){
    $val: 100% / $columns * $n;
    @include iPad(padding-right, #{calc(#{$val} + #{$offset_iPad_one_side})});
}

@mixin shift-xs($n){
    $val: 100% / $columns * $n;
    @include xs(margin-left, #{calc(#{$val} + #{$offset_xs_one_side})});
    @include xs(margin-right, #{calc(#{$val} + #{$offset_xs_one_side})});
}

@mixin shift-xs-left($n){
    $val: 100% / $columns * $n;
    @include xs(margin-left, #{calc(#{$val} + #{$offset_xs_one_side})});
}

@mixin shift-xs-right($n){
    $val: 100% / $columns * $n;
    @include xs(margin-right, #{calc(#{$val} + #{$offset_xs_one_side})});
}

@mixin shift-xs-padding($n){
    $val: 100% / $columns * $n;
    @include xs(padding-left, #{calc(#{$val} + #{$offset_xs_one_side})});
    @include xs(padding-right, #{calc(#{$val} + #{$offset_xs_one_side})});
}

@mixin shift-xs-padding-left($n){
    $val: 100% / $columns * $n;
    @include xs(padding-left, #{calc(#{$val} + #{$offset_xs_one_side})});
}

@mixin shift-xs-padding-right($n){
    $val: 100% / $columns * $n;
    @include xs(padding-right, #{calc(#{$val} + #{$offset_xs_one_side})});
}

@mixin shift-surfaceDUO($n){
    $val: 100% / $columns * $n;
    @include surfaceDUO(margin-left, #{calc(#{$val} + #{$offset_surfaceDUO_one_side})});
    @include surfaceDUO(margin-right, #{calc(#{$val} + #{$offset_surfaceDUO_one_side})});
}

@mixin shift-surfaceDUO-left($n){
    $val: 100% / $columns * $n;
    @include surfaceDUO(margin-left, #{calc(#{$val} + #{$offset_surfaceDUO_one_side})});
}

@mixin shift-surfaceDUO-right($n){
    $val: 100% / $columns * $n;
    @include surfaceDUO(margin-right, #{calc(#{$val} + #{$offset_surfaceDUO_one_side})});
}

@mixin shift-surfaceDUO-padding($n){
    $val: 100% / $columns * $n;
    @include surfaceDUO(padding-left, #{calc(#{$val} + #{$offset_surfaceDUO_one_side})});
    @include surfaceDUO(padding-right, #{calc(#{$val} + #{$offset_surfaceDUO_one_side})});
}

@mixin shift-surfaceDUO-padding-left($n){
    $val: 100% / $columns * $n;
    @include surfaceDUO(padding-left, #{calc(#{$val} + #{$offset_surfaceDUO_one_side})});
}

@mixin shift-surfaceDUO-padding-right($n){
    $val: 100% / $columns * $n;
    @include surfaceDUO(padding-right, #{calc(#{$val} + #{$offset_surfaceDUO_one_side})});
}

@mixin shift-iPhone678Plus($n){
    $val: 100% / $columns * $n;
    @include iPhone678Plus(margin-left, #{calc(#{$val} + #{$offset_iPhone678Plus_one_side})});
    @include iPhone678Plus(margin-right, #{calc(#{$val} + #{$offset_iPhone678Plus_one_side})});
}

@mixin shift-iPhone678Plus-left($n){
    $val: 100% / $columns * $n;
    @include iPhone678Plus(margin-left, #{calc(#{$val} + #{$offset_iPhone678Plus_one_side})});
}

@mixin shift-iPhone678Plus-right($n){
    $val: 100% / $columns * $n;
    @include iPhone678Plus(margin-right, #{calc(#{$val} + #{$offset_iPhone678Plus_one_side})});
}

@mixin shift-iPhone678Plus-padding($n){
    $val: 100% / $columns * $n;
    @include iPhone678Plus(padding-left, #{calc(#{$val} + #{$offset_iPhone678Plus_one_side})});
    @include iPhone678Plus(padding-right, #{calc(#{$val} + #{$offset_iPhone678Plus_one_side})});
}

@mixin shift-iPhone678Plus-padding-left($n){
    $val: 100% / $columns * $n;
    @include iPhone678Plus(padding-left, #{calc(#{$val} + #{$offset_iPhone678Plus_one_side})});
}

@mixin shift-iPhone678Plus-padding-right($n){
    $val: 100% / $columns * $n;
    @include iPhone678Plus(padding-right, #{calc(#{$val} + #{$offset_iPhone678Plus_one_side})});
}

@mixin shift-pixel2($n){
    $val: 100% / $columns * $n;
    @include pixel2(margin-left, #{calc(#{$val} + #{$offset_pixel2_one_side})});
    @include pixel2(margin-right, #{calc(#{$val} + #{$offset_pixel2_one_side})});
}

@mixin shift-pixel2-left($n){
    $val: 100% / $columns * $n;
    @include pixel2(margin-left, #{calc(#{$val} + #{$offset_pixel2_one_side})});
}

@mixin shift-pixel2-right($n){
    $val: 100% / $columns * $n;
    @include pixel2(margin-right, #{calc(#{$val} + #{$offset_pixel2_one_side})});
}

@mixin shift-pixel2-padding($n){
    $val: 100% / $columns * $n;
    @include pixel2(padding-left, #{calc(#{$val} + #{$offset_pixel2_one_side})});
    @include pixel2(padding-right, #{calc(#{$val} + #{$offset_pixel2_one_side})});
}

@mixin shift-pixel2-padding-left($n){
    $val: 100% / $columns * $n;
    @include pixel2(padding-left, #{calc(#{$val} + #{$offset_pixel2_one_side})});
}

@mixin shift-pixel2-padding-right($n){
    $val: 100% / $columns * $n;
    @include pixel2(padding-right, #{calc(#{$val} + #{$offset_pixel2_one_side})});
}

@mixin shift-pixel2XL($n){
    $val: 100% / $columns * $n;
    @include pixel2XL(margin-left, #{calc(#{$val} + #{$offset_pixel2XL_one_side})});
    @include pixel2XL(margin-right, #{calc(#{$val} + #{$offset_pixel2XL_one_side})});
}

@mixin shift-pixel2XL-left($n){
    $val: 100% / $columns * $n;
    @include pixel2XL(margin-left, #{calc(#{$val} + #{$offset_pixel2XL_one_side})});
}

@mixin shift-pixel2XL-right($n){
    $val: 100% / $columns * $n;
    @include pixel2XL(margin-right, #{calc(#{$val} + #{$offset_pixel2XL_one_side})});
}

@mixin shift-pixel2XL-padding($n){
    $val: 100% / $columns * $n;
    @include pixel2XL(padding-left, #{calc(#{$val} + #{$offset_pixel2XL_one_side})});
    @include pixel2XL(padding-right, #{calc(#{$val} + #{$offset_pixel2XL_one_side})});
}

@mixin shift-pixel2XL-padding-left($n){
    $val: 100% / $columns * $n;
    @include pixel2XL(padding-left, #{calc(#{$val} + #{$offset_pixel2XL_one_side})});
}

@mixin shift-pixel2XL-padding-right($n){
    $val: 100% / $columns * $n;
    @include pixel2XL(padding-right, #{calc(#{$val} + #{$offset_pixel2XL_one_side})});
}

@mixin shift-iPhone678($n){
    $val: 100% / $columns * $n;
    @include iPhone678(margin-left, #{calc(#{$val} + #{$offset_iPhone678_one_side})});
    @include iPhone678(margin-right, #{calc(#{$val} + #{$offset_iPhone678_one_side})});
}

@mixin shift-iPhone678-left($n){
    $val: 100% / $columns * $n;
    @include iPhone678(margin-left, #{calc(#{$val} + #{$offset_iPhone678_one_side})});
}

@mixin shift-iPhone678-right($n){
    $val: 100% / $columns * $n;
    @include iPhone678(margin-right, #{calc(#{$val} + #{$offset_iPhone678_one_side})});
}

@mixin shift-iPhone678-padding($n){
    $val: 100% / $columns * $n;
    @include iPhone678(padding-left, #{calc(#{$val} + #{$offset_iPhone678_one_side})});
    @include iPhone678(padding-right, #{calc(#{$val} + #{$offset_iPhone678_one_side})});
}

@mixin shift-iPhone678-padding-left($n){
    $val: 100% / $columns * $n;
    @include iPhone678(padding-left, #{calc(#{$val} + #{$offset_iPhone678_one_side})});
}

@mixin shift-iPhone678-padding-right($n){
    $val: 100% / $columns * $n;
    @include iPhone678(padding-right, #{calc(#{$val} + #{$offset_iPhone678_one_side})});
}

@mixin shift-iPhoneX($n){
    $val: 100% / $columns * $n;
    @include iPhoneX(margin-left, #{calc(#{$val} + #{$offset_iPhoneX_one_side})});
    @include iPhoneX(margin-right, #{calc(#{$val} + #{$offset_iPhoneX_one_side})});
}

@mixin shift-iPhoneX-left($n){
    $val: 100% / $columns * $n;
    @include iPhoneX(margin-left, #{calc(#{$val} + #{$offset_iPhoneX_one_side})});
}

@mixin shift-iPhoneX-right($n){
    $val: 100% / $columns * $n;
    @include iPhoneX(margin-right, #{calc(#{$val} + #{$offset_iPhoneX_one_side})});
}

@mixin shift-iPhoneX-padding($n){
    $val: 100% / $columns * $n;
    @include iPhoneX(padding-left, #{calc(#{$val} + #{$offset_iPhoneX_one_side})});
    @include iPhoneX(padding-right, #{calc(#{$val} + #{$offset_iPhoneX_one_side})});
}

@mixin shift-iPhoneX-padding-left($n){
    $val: 100% / $columns * $n;
    @include iPhoneX(padding-left, #{calc(#{$val} + #{$offset_iPhoneX_one_side})});
}

@mixin shift-iPhoneX-padding-right($n){
    $val: 100% / $columns * $n;
    @include iPhoneX(padding-right, #{calc(#{$val} + #{$offset_iPhoneX_one_side})});
}

@mixin shift-galaxyS5($n){
    $val: 100% / $columns * $n;
    @include galaxyS5(margin-left, #{calc(#{$val} + #{$offset_galaxyS5_one_side})});
    @include galaxyS5(margin-right, #{calc(#{$val} + #{$offset_galaxyS5_one_side})});
}

@mixin shift-galaxyS5-left($n){
    $val: 100% / $columns * $n;
    @include galaxyS5(margin-left, #{calc(#{$val} + #{$offset_galaxyS5_one_side})});
}

@mixin shift-galaxyS5-right($n){
    $val: 100% / $columns * $n;
    @include galaxyS5(margin-right, #{calc(#{$val} + #{$offset_galaxyS5_one_side})});
}

@mixin shift-galaxyS5-padding($n){
    $val: 100% / $columns * $n;
    @include galaxyS5(padding-left, #{calc(#{$val} + #{$offset_galaxyS5_one_side})});
    @include galaxyS5(padding-right, #{calc(#{$val} + #{$offset_galaxyS5_one_side})});
}

@mixin shift-galaxyS5-padding-left($n){
    $val: 100% / $columns * $n;
    @include galaxyS5(padding-left, #{calc(#{$val} + #{$offset_galaxyS5_one_side})});
}

@mixin shift-galaxyS5-padding-right($n){
    $val: 100% / $columns * $n;
    @include galaxyS5(padding-right, #{calc(#{$val} + #{$offset_galaxyS5_one_side})});
}

@mixin shift-iPhone5SE($n){
    $val: 100% / $columns * $n;
    @include iPhone5SE(margin-left, #{calc(#{$val} + #{$offset_iPhone5SE_one_side})});
    @include iPhone5SE(margin-right, #{calc(#{$val} + #{$offset_iPhone5SE_one_side})});
}

@mixin shift-iPhone5SE-left($n){
    $val: 100% / $columns * $n;
    @include iPhone5SE(margin-left, #{calc(#{$val} + #{$offset_iPhone5SE_one_side})});
}

@mixin shift-iPhone5SE-right($n){
    $val: 100% / $columns * $n;
    @include iPhone5SE(margin-right, #{calc(#{$val} + #{$offset_iPhone5SE_one_side})});
}

@mixin shift-iPhone5SE-padding($n){
    $val: 100% / $columns * $n;
    @include iPhone5SE(padding-left, #{calc(#{$val} + #{$offset_iPhone5SE_one_side})});
    @include iPhone5SE(padding-right, #{calc(#{$val} + #{$offset_iPhone5SE_one_side})});
}

@mixin shift-iPhone5SE-padding-left($n){
    $val: 100% / $columns * $n;
    @include iPhone5SE(padding-left, #{calc(#{$val} + #{$offset_iPhone5SE_one_side})});
}

@mixin shift-iPhone5SE-padding-right($n){
    $val: 100% / $columns * $n;
    @include iPhone5SE(padding-right, #{calc(#{$val} + #{$offset_iPhone5SE_one_side})});
}

@mixin shift-galaxyFold($n){
    $val: 100% / $columns * $n;
    @include galaxyFold(margin-left, #{calc(#{$val} + #{$offset_galaxyFold_one_side})});
    @include galaxyFold(margin-right, #{calc(#{$val} + #{$offset_galaxyFold_one_side})});
}

@mixin shift-galaxyFold-left($n){
    $val: 100% / $columns * $n;
    @include galaxyFold(margin-left, #{calc(#{$val} + #{$offset_galaxyFold_one_side})});
}

@mixin shift-galaxyFold-right($n){
    $val: 100% / $columns * $n;
    @include galaxyFold(margin-right, #{calc(#{$val} + #{$offset_galaxyFold_one_side})});
}

@mixin shift-galaxyFold-padding($n){
    $val: 100% / $columns * $n;
    @include galaxyFold(padding-left, #{calc(#{$val} + #{$offset_galaxyFold_one_side})});
    @include galaxyFold(padding-right, #{calc(#{$val} + #{$offset_galaxyFold_one_side})});
}

@mixin shift-galaxyFold-padding-left($n){
    $val: 100% / $columns * $n;
    @include galaxyFold(padding-left, #{calc(#{$val} + #{$offset_galaxyFold_one_side})});
}

@mixin shift-galaxyFold-padding-right($n){
    $val: 100% / $columns * $n;
    @include galaxyFold(padding-right, #{calc(#{$val} + #{$offset_galaxyFold_one_side})});
}

@mixin lg($name, $value){
    @media screen and (max-width: $break_lg){
        #{$name}: $value;
    }
}

@mixin lg-block(){
    @media screen and (max-width: $break_lg){
        @content;
    }
}

@mixin iPadPro($name, $value){
    @media screen and (max-width: $break_iPadPro){
        #{$name}: $value;
    }
}

@mixin iPadPro-block(){
    @media screen and (max-width: $break_iPadPro){
        @content;
    }
}

@mixin md($name, $value){
    @media screen and (max-width: $break_md){
        #{$name}: $value;
    }
}

@mixin md-block(){
    @media screen and (max-width: $break_md){
        @content;
    }
}

@mixin sm($name, $value){
    @media screen and (max-width: $break_sm){
        #{$name}: $value;
    }
}

@mixin sm-block(){
    @media screen and (max-width: $break_sm){
        @content;
    }
}

@mixin iPad($name, $value){
    @media screen and (max-width: $break_iPad){
        #{$name}: $value;
    }
}

@mixin iPad-block(){
    @media screen and (max-width: $break_iPad){
        @content;
    }
}

@mixin xs($name, $value){
    @media screen and (max-width: $break_xs){
        #{$name}: $value;
    }
}

@mixin xs-block(){
    @media screen and (max-width: $break_xs){
        @content;
    }
}

@mixin surfaceDUO($name, $value){
    @media screen and (max-width: $break_surfaceDUO) and (max-height: $breakHeight_surfaceDUO)
    
    {
        #{$name}: $value;
    }
}

@mixin surfaceDUO-block(){
    @media screen and (max-width: $break_surfaceDUO) and (max-height: $breakHeight_surfaceDUO)
    
    {
        @content;
    }
}

@mixin iPhone678Plus($name, $value){
    @media screen and (max-width: $break_iPhone678Plus){
        #{$name}: $value;
    }
}

@mixin iPhone678Plus-block(){
    @media screen and (max-width: $break_iPhone678Plus){
        @content;
    }
}

@mixin pixel2($name, $value){
    @media screen and (max-width: $break_pixel2){
        #{$name}: $value;
    }
}

@mixin pixel2-block(){
    @media screen and (max-width: $break_pixel2){
        @content;
    }
}

@mixin pixel2XL($name, $value){
    @media screen and (max-width: $break_pixel2XL){
        #{$name}: $value;
    }
}

@mixin pixel2XL-block(){
    @media screen and (max-width: $break_pixel2XL){
        @content;
    }
}

@mixin iPhone678($name, $value){
    @media screen and (max-width: $break_iPhone678){
        #{$name}: $value;
    }
}

@mixin iPhone678-block(){
    @media screen and (max-width: $break_iPhone678){
        @content;
    }
}

@mixin iPhoneX($name, $value){
    @media screen and (max-width: $break_iPhoneX){
        #{$name}: $value;
    }
}

@mixin iPhoneX-block(){
    @media screen and (max-width: $break_iPhoneX){
        @content;
    }
}

@mixin galaxyS5($name, $value){
    @media screen and (max-width: $break_galaxyS5){
        #{$name}: $value;
    }
}

@mixin galaxyS5-block(){
    @media screen and (max-width: $break_galaxyS5){
        @content;
    }
}

@mixin iPhone5SE($name, $value){
    @media screen and (max-width: $break_iPhone5SE){
        #{$name}: $value;
    }
}

@mixin iPhone5SE-block(){
    @media screen and (max-width: $break_iPhone5SE){
        @content;
    }
}

@mixin galaxyFold($name, $value){
    @media screen and (max-width: $break_galaxyFold) and (max-height: $breakHeight_galaxyFold)
    {
        #{$name}: $value;
    }
}

@mixin galaxyFold-block(){
    @media screen and (max-width: $break_galaxyFold) and (max-height: $breakHeight_galaxyFold)
    {
        @content;
    }
}

@mixin from($min_width){
    @media screen and (min-width: $min_width){
        @content;
    }
}

@mixin to($max_width){
    @media screen and (max-width: $max_width){
        @content;
    }
}

@mixin from-to($min_width, $max_width){
    @media screen and (min-width: $min_width) and (max-width: $max_width){
        @content;
    }
}

@mixin u-row-flex($offset){
    display: flex;
    flex-wrap: wrap;
    margin-left: ($offset / -2);
    margin-right: ($offset / -2);
}

@mixin u-col($offset){
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: ($offset / 2);
    margin-right: ($offset / 2);
}

@mixin u-size($n, $columns, $offset){
    width: #{calc(100% / #{$columns} * #{$n} - #{$offset})};
}

@mixin reset(){
    body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td{
        margin: 0;
        padding: 0;
    }
    table{
        border-collapse: collapse;
        border-spacing: 0;
    }
    fieldset,img,abbr{
        border: 0;
    }
    address,caption,cite,code,dfn,em,strong,th,var{
        font-style: normal;
        font-weight: normal;
    }
    ul li{
        list-style: none;
    }
    caption,th{
        text-align: left;
    }
    h1,h2,h3,h4,h5,h6{
        font-size: 100%;
        font-weight: normal;
    }
    sup{
        vertical-align: text-top;
    }
    sub{
        vertical-align: text-bottom;
    }
    input,textarea,select{
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }
    legend{
        color: #000;
    }
    article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{
        display: block;
    }
    img{
        max-width: 100%;
        height: auto;
    }
}

@mixin debug($background, $outline){
    height: 100vh;
    position: fixed;
    width: 100%;
    
    > div{
        height: inherit;
        @include wrapper();
        
        > div{
            height: inherit;
            @include row-flex();
            
            > div{
                @include col();
                @include size(1);
                height: inherit;
                outline: $outline;
                background: $background;
            }
        }
    }
}

@mixin clearfix(){
    &::after{
        display: block;
        content: "";
        clear: both;
    }
}